
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
    


            

<nav>
    <div class="nav-wrapper grey darken-3">
        <a href="#!" class="brand-logo center">Logo</a>
        <ul class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li class="active"><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>


<!-- <div class="col s4 m7">

        <ul id="slide-out" class="sidenav sidenav-fixed ">
            <li><a href="#!">First Sidebar Link</a></li>
            <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</div> -->

    
<!-- {{ projeto.tecnologia }} -->



<div class="row valign-wrapper">

    <!-- <div class="col s2">
        <div class="card">
          <div class="card-content">
            <p>descricao</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div> -->


      <div class="col s2"></div>
      {% for projeto in projetos %}
      
      <div class="col s4">
          <div class="card">
              <div class="card-image">
                  <img class="materialboxed" width="120" src = "{% static projeto.imagem %}" >
          <span class="card-title">{{ projeto.titulo }}</span>
        </div>
        <div class="card-content">
            <p>{{ projeto.descricao }}</p>
        </div>
        <div class="card-action">
            <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
</div>


</body>
</html>